<div class="parent">
    <div class="icon" *ngIf="type=='decollages'"><mat-icon>flight_takeoff</mat-icon></div>
    <div class="icon" *ngIf="type=='atterrissages'"><mat-icon>flight_land</mat-icon></div>
    <div class="div2">
        <p>{{ vol.icao }}</p>
    </div>
    <div class="div3">
        <p>{{ vol.matricule }}</p>
    </div>
    <div class="div4">
        <p>{{ vol.aeroportDepart }} → {{ vol.aeroportArrivee }}</p>
    </div>
    <div class="div5">
        <p><img src="/assets/{{ vol.compagnie }}.png" alt="" height="20"></p>
    </div>
</div>
