.passager-info {
    display: flex;
    align-items: center;
  }

  
  .passager-details {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
  }
  
  .passager-name {
    text-align: center;
  }
  
  .passager-class,
  .passager-baggage {
    text-align: center;
  }

  img {
    border-radius: 50%;
    filter: drop-shadow(0 0 0.15rem rgb(66, 66, 66));
  }
  