<!-- Affichage d'un passager -->
<div class="passager-info" matTooltip="{{this.passager.email}}">
  <div class="passager-image">
    <img [src]="passager.image">
  </div>
  <div class="passager-details">
    <div class="passager-name">{{passager.nom}}</div>
    <div class="passager-class" [appClasseVol]="passager.classeVol">{{ passager.classeVol }}</div>
    <div class="passager-baggage" [appLuggage]="passager.nbBagagesSoute" [appLuggageClasseVol]="passager.classeVol"><mat-icon>luggage</mat-icon>X{{ passager.nbBagagesSoute }}</div>
  </div>
</div>