<div class="container">
  <div class="title"><h1>{{this.type | uppercase}}</h1></div>
  <div class="sections">
    <div class="left">
      <div class="top">
        <app-filtres (filtresAppliques)="onFiltresEvent($event)"></app-filtres>
      </div>
      <div class="bottom">
        <app-liste-vols [vols]=this.vols [type]="type" (volEvent)="setVol($event)"></app-liste-vols>
      </div>
    </div>
    <div class="right">
      <app-liste-passagers [passagers] = this.passagers></app-liste-passagers>
    </div>
  </div>
</div>
