/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    width: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden;}

$primary: #0058A3;
$secondary: #2C377E;
$accent: #E62B27;
$white: #FFFFFF;
