.even-background {
    background-color: #f2f2f2; /* couleur d'arrière-plan pour les vols d'index pair */
  }
  
  .odd-background {
    background-color: #ffffff; /* couleur d'arrière-plan pour les vols d'index impair */
  }
  